body, html, #container {
  height: 100%;
  margin: 0px; }

.info-title {
  color: white;
  font-size: 15px;
  background-color: #4fb4aa;
  line-height: 45px;
  padding: 0px 0 0 15px;
  font-weight: lighter;
  letter-spacing: 1px; }

.info-content {
  padding: 4px;
  color: #666666;
  line-height: 23px; }

.info-content img {
  float: left;
  margin: 3px; }
